<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
	<!-- s: root -->
	<div class="root">

		<!-- homepage -->
		<main class="main">

			<div class="main-ornament -one picturefill-background">
				<span data-src="asset/images/main-graphic-elements-top-m@2x.png"></span>
				<span data-src="asset/images/main-graphic-elements-top-t@2x.png" data-media="(min-width: 768px)"></span>
				<span data-src="asset/images/main-graphic-elements-left@2x.png" data-media="(min-width: 1200px)"></span>
			</div>
			<div class="main-ornament -two picturefill-background">
				<span data-src="asset/images/main-graphic-elements-bottom-m@2x.png"></span>
				<span data-src="asset/images/main-graphic-elements-bottom-t@2x.png" data-media="(min-width: 768px)"></span>
				<span data-src="asset/images/main-graphic-elements-right@2x.png" data-media="(min-width: 1200px)"></span>
			</div>

			<div class="main-img picturefill-background">
				<span data-src="asset/images/main-hand-illustration-m@2x.png"></span>
				<span data-src="asset/images/main-hand-illustration@2x.png" data-media="(min-width: 990px)"></span>
			</div>

			<div class="main-home">
				<div class="main-logo">
					<img src="asset/images/byu-logo.svg" alt="">
				</div>
				<h1 class="main-title">Tentukan Tipe Netijen Kamu</h1>
				<a href="start.html" class="button -primary">Yuk, Mulai Sekarang!</a>
			</div>

		</main>

	</div>
	<!-- e: root -->

{{>js}}
</body>
</html>
