{{>result_top}}

			<div class="main-wrapper -result">
				<div class="result-wrapper" id="wrapper-scroll">
					<div class="result-upper">
						<div class="result-header">
							<h1 class="result-title">Sengaja <em>Missing Out</em></h1>
							{{>share}}
						</div>
						<div class="result-content">
							<p>Terkadang, jadi <em>center of attention</em> pun bikin risih. Makanya, <em>left out</em> dari kehidupan yang sekarang ini rasanya sudah jadi jalan terbaik nggak sih? Biar lebih <em>chill</em> saja gitu.</p>
							<p>Biar kamu jadi lebih <em>chill</em>, cari ‘sumber kebahagiaanmu’ dengan paket kuota dari by.U deh!</p>
						</div>
						<div class="result-recommend">
							<span>Rekomendasi Paket Data by.U</span>
							<img src="asset/images/result-recommend.png" alt="Rekomendasi Paket Data by.U">
						</div>
						<div class="result-ornament">
							<img src="asset/images/result-recommend-bg.png" alt="">
						</div>
					</div>
					<div class="result-bundling">
						<div class="bundling-big">
							<div class="bundling-img">
								<img src="asset/images/result-recommend-kere2.png" alt="Kere">
							</div>
							<div class="bundling-col">
								<div class="bundling-title">Yang Bikin Nagih</div>
								<div class="bundling-quota">3 GB <span>Masa berlaku 14 hari</span></div>
								<div class="bundling-price">Rp 15.000</div>
							</div>
						</div>
						<div class="bundling-item">
							<div class="bundling-icon">
								<img src="asset/images/icon-phone-promo.png" alt="Phone">
							</div>
							<div class="bundling-info">
								<div class="bundling-quota">43.200 menit <span>30 Hari (sesama by.u)</span></div>
								<div class="bundling-price">Rp 1.000</div>
							</div>
						</div>
						<div class="result-more-text">Masih ada pilihan paket data & topping lainnya loh!</div>
						<div class="result-more-button">
							<a href="#" class="button -primary">Yuk, Cari Tahu!</a>
							<a href="index.html" class="button -primary">Mulai Tes Lagi</a>
						</div>
					</div>
				</div>
				<div class="result-hero">
					<a href="#7" target="_blank" class="result-img result-hidden">
						<img src="asset/images/result-img-sengaja.png" alt="Sengaja Missing Out">
					</a>
					<div class="result-button">
						<a href="#8" target="_blank" class="result-hidden button -secondary">Nikmatnya jadi anak by.U</a>
					</div>
				</div>
				<div class="main-footer">
					<div class="main-footer-wrap">
						<div class="main-footer-button">
							<div class="main-scroll-wrap" id="button-scroll">
								<a href="#" class="main-scroll">
									<span class="icon icon-wheel"></span>
									Scroll ke bawah
								</a>
							</div>
							{{>share}}
						</div>
					</div>
				</div>
			</div>

		</main>

	</div>
	<!-- e: root -->

{{>js}}
</body>
</html>
