{{>result_top}}

			<div class="main-wrapper -result">
				<div class="result-wrapper" id="wrapper-scroll">
					<div class="result-header">
						<h1 class="result-title">Intel Tersembunyi</h1>
						{{>share}}
					</div>
					<div class="result-content">
						<p>Ini dia nih si ‘tukang bakso’ di medsos. Saking nyarunya, nggak ada yang tau dengan gelar ‘intelijen’ ini.</p>
						<p>Supaya ‘misteri’ dibalik kasus <em>online</em>-mu cepat terkuak, wajib latih terus tuh <em>skill</em> detektif kamu. Terus gali info dengan paket kuota dari by.U deh!</p>
					</div>
					<div class="result-recommend">
						<span>Rekomendasi Paket Data by.U</span>
						<img src="asset/images/result-recommend.png" alt="Rekomendasi Paket Data by.U">
					</div>
					<div class="result-ornament">
						<img src="asset/images/result-recommend-bg.png" alt="">
					</div>
					<div class="result-bundling">
						<div class="bundling-big -choice">
							<div class="bundling-bg" style="background-image: url(asset/images/result-choice.png);"></div>
							<div class="bundling-choice">Pilihan Netizen</div>
							<div class="bundling-col">
								<div class="bundling-title">Yang Bikin Aman Jaya Banget</div>
								<div class="bundling-quota">1,5 Mbps <em>30 hari</em><span>Aman untuk streaming kualitas 480p</span></div>
								<div class="bundling-price">Rp 140.000</div>
							</div>
						</div>
						<div class="result-more-text">Masih ada pilihan paket data & topping lainnya loh!</div>
						<div class="result-more-button">
							<a href="#" class="button -primary">I Join</a>
							<a href="index.html" class="button -primary">Mulai Tes Lagi</a>
						</div>
					</div>
				</div>
				<div class="result-hero">
					<a href="#7" target="_blank" class="result-img result-hidden">
						<img src="asset/images/result-img-intel.png" alt="Creator Kawakan">
					</a>
					<div class="result-button">
						<a href="#8" target="_blank" class="result-hidden button -secondary">Nikmatnya jadi anak by.U</a>
					</div>
				</div>
				<div class="main-footer">
					<div class="main-footer-wrap">
						<div class="main-footer-button">
							<div class="main-scroll-wrap" id="button-scroll">
								<a href="#" class="main-scroll">
									<span class="icon icon-wheel"></span>
									Scroll ke bawah
								</a>
							</div>
							{{>share}}
						</div>
					</div>
				</div>
			</div>

		</main>

	</div>
	<!-- e: root -->

{{>js}}
</body>
</html>
