<label for="{{id}}">
	<div class="form-radio">
		<input type="radio" name="{{name}}" id="{{id}}" value=""{{#eq disabled compare="true"}} disabled="disabled"{{/eq}}{{#eq readonly compare="true"}} readonly="readonly"{{/eq}}{{#eq checked compare="true"}} checked="checked"{{/eq}}>
		<span></span>
	</div>
</label>
