<div class="social-block">
	<a href="#" class="social-link social-trigger"><span class="icon-social icon-share"></span></a>
	<div class="social-box">
		<a href="#" class="social-link"><div class="icon-social icon-facebook"></div></a>
		<a href="#" class="social-link"><div class="icon-social icon-twitter"></div></a>
	</div>
</div>
