<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
	<!-- s: root -->
	<div class="root">

		<!-- result -->
		<main class="main -result">

			<div class="result-graphic-wrap">
				<div class="result-graphic -wave">
					<img src="asset/images/result-graphic-0.png" alt="">
				</div>
				<div class="result-graphic -line">
					<a href="#1" target="_blank" class="result-hidden"><img src="asset/images/result-graphic-line.png" alt=""></a>
				</div>
				<div class="result-graphic -x1">
					<a href="#2" target="_blank" class="result-hidden"><img src="asset/images/result-graphic-x1.png" alt=""></a>
				</div>
				<div class="result-graphic -x2">
					<a href="#3" target="_blank" class="result-hidden"><img src="asset/images/result-graphic-x2.png" alt=""></a>
				</div>
				<div class="result-graphic -x3">
					<a href="#4" target="_blank" class="result-hidden"><img src="asset/images/result-graphic-x3.png" alt=""></a>
				</div>
				<div class="result-graphic -o1">
					<a href="#5" target="_blank" class="result-hidden"><img src="asset/images/result-graphic-o1.png" alt=""></a>
				</div>
				<div class="result-graphic -o2">
					<a href="#6" target="_blank" class="result-hidden"><img src="asset/images/result-graphic-o2.png" alt=""></a>
				</div>
			</div>

			<div class="main-ornament -one picturefill-background">
				<span data-src="asset/images/result-graphic-elements-top-m.png"></span>
				<span data-src="asset/images/result-graphic-elements-top-t.png" data-media="(min-width: 768px)"></span>
				<span data-src="asset/images/result-graphic-elements-left.png" data-media="(min-width: 1200px)"></span>
			</div>
			<div class="main-ornament -two picturefill-background">
				<span data-src="asset/images/result-graphic-elements-bottom-m.png"></span>
				<span data-src="asset/images/result-graphic-elements-bottom-t.png" data-media="(min-width: 768px)"></span>
				<span data-src="asset/images/result-graphic-elements-right.png" data-media="(min-width: 1200px)"></span>
			</div>
